<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="gc/include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal m-t" id="signupForm">
						<input type="hidden" id = "kpid" name="kpid" >
						<div class="form-group">
								<label class="col-sm-2 control-label">订单号：</label>
								<div class="col-sm-3">
									<input id="orderNo" name="orderNo" class="form-control"
										   type="text" onblur="getOrder(this.value)" required="required"/>
								</div>


								<label class="col-sm-2 control-label">付款单位：</label>
								<div class="col-sm-3">
									<input id="payer" name="payer" class="form-control" type="text"  readonly="readonly" required="required"/>
								</div>
						</div>


						<div class="form-group">
							<label class="col-sm-2 control-label">日期：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"  id="bizdate" name="bizdate"   readonly="readonly"/>
							</div>



							<label class="col-sm-2 control-label">车号：</label>
							<div class="col-sm-3">
								<input id="carnum" name="carnum" class="form-control" type="text"  readonly="readonly" required="required"/>
							</div>


						</div>



						<div class="form-group">



							<label class="col-sm-2 control-label">到站：</label>
							<div class="col-sm-3">
								<input id="station" name="station" class="form-control" type="text" readonly="readonly"/>
							</div>

							<label class="col-sm-2 control-label">吨位：</label>
							<div class="col-sm-3">
								<input id="tonnage" name="tonnage" class="form-control" type="text" readonly="readonly"/>
							</div>

						</div>
						<div class="form-group">

							<label class="col-sm-2 control-label">调整吨位：</label>
							<div class="col-sm-3">
								<input id="adjusttonnage" name="adjusttonnage" class="form-control" type="text" onkeyup="getYunjia()" required="required">
							</div>

							<label class="col-sm-2 control-label">结算吨位：</label>
							<div class="col-sm-3">
								<input id="settletonnage" name="settletonnage" class="form-control" type="text" readonly="readonly"/>
							</div>



						</div>

						<div class="form-group">

							<label class="col-sm-2 control-label">运价：</label>
							<div class="col-sm-3">
								<input id="transcost" name="transcost" class="form-control" type="text" onkeyup="getYunjia()" required="required">
							</div>

							<label class="col-sm-2 control-label">信息费：</label>
							<div class="col-sm-3">
								<input id="inforfee" name="inforfee" class="form-control" type="text" onkeyup="getYunjia()" required="required">
							</div>

						</div>

						<div class="form-group">


							<label class="col-sm-2 control-label">收取方式：</label>
							<div class="col-sm-3">
								<input id="colmethod" name="colmethod" class="form-control" type="text">
							</div>


							<label class="col-sm-2 control-label">运费：</label>
							<div class="col-sm-3">
								<input id="transfee" name="transfee" class="form-control" type="text" readonly="readonly"/>
							</div>


						</div>


						<div class="form-group">
 							<label class="col-sm-2 control-label">付款约定：</label>
							<div class="col-sm-3">

								<input type="text" class="form-control"
									   id="bankpaytwodate" name="bankpaytwodate"  />
							</div>

						</div>




						<div class="form-group">
							<label class="col-sm-2 control-label">回单：</label>
							<div class="col-sm-3">
								<!--<input id="receipt" name="receipt" class="form-control" type="text">-->
								<select class="form-control" name="receipt" id="receipt" onchange="setPayDateRead()"  disabled="true">
									<option value="无">无</option>
									<option value="预有">预有</option>
									<option value="有">有</option>
								</select>
							</div>

							<label class="col-sm-2 control-label">回单日期：</label>
							<div class="col-sm-3">


								<input type="text" class="laydate-icon layer-date form-control" disabled="true"
									   id="receiptdate" name="receiptdate" placeholder="日期"
									   onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"
									   style="background-color: #fff;" readonly="readonly"/>
							</div>


						</div>



						<div class="form-group" id = "pay1" >

							<label class="col-sm-2 control-label">付款方式⑴：</label>
							<div class="col-sm-3">
								<!--<input id="payType" name="payType" class="form-control" type="text">-->

								<select class="form-control" name="payType" id="payType" onchange="setPayDate()">
									<option value="">--不付--</option>
									<option value="农行卡">--农行卡--</option>
									<option value="运满满">--运满满--</option>
									<option value="百通石化">--百通石化--</option>
									<option value="百通石油">--百通石油--</option>
									<option value="百通京博">--百通京博--</option>
									<option value="现金">--现金--</option>
									<option value="其他">--其他--</option>
								</select>

							</div>



						</div>


						<div class="form-group"  id = "pay2">
							<label class="col-sm-2 control-label" >付款金额⑴：</label>
							<div class="col-sm-3">
								<input id="fulltrans"  onkeyup="getYunjia()" name="fulltrans" class="form-control" type="text" readonly="readonly">
							</div>

							<label class="col-sm-2 control-label">付款日期⑴：</label>
							<div class="col-sm-3">

								<input  id="fulpaydate" name="fulpaydate" class="form-control" type="text" readonly="readonly"/>
							</div>

						</div>






						<div class="form-group"  id = "pay3">

							<label class="col-sm-2 control-label">付款方式⑵：</label>
							<div class="col-sm-3">

								<select class="form-control" name="forwunit" id="forwunit" onchange="setPayDate2()">
									<option value="">--不付--</option>

									<option value="农行卡">--农行卡--</option>
									<option value="运满满">--运满满--</option>
									<option value="百通石化">--百通石化--</option>
									<option value="百通石油">--百通石油--</option>
									<option value="百通京博">--百通京博--</option>
									<option value="现金">--现金--</option>
									<option value="其他">--其他--</option>
								</select>

							</div>




						</div>

						<div class="form-group"  id = "pay4">


							<label class="col-sm-2 control-label">付款金额⑵：</label>
							<div class="col-sm-3">
								<input id="bankcard"  onkeyup="getYunjia()" name="bankcard" class="form-control" type="text" readonly="readonly">
							</div>

							<label class="col-sm-2 control-label">付款日期⑵：</label>
							<div class="col-sm-3">


								<input  id="bankpaydate" name="bankpaydate" class="form-control" type="text" readonly="readonly"/>
							</div>

						</div>







						<div class="form-group">
							<label class="col-sm-2 control-label">手续费：</label>
							<div class="col-sm-3">
								<input id="shoushufei"  name="shoushufei" class="form-control" type="text" readonly >
								<input id="shoushufeidate" name="shoushufeidate" type="hidden" >
							</div>

							<label class="col-sm-2 control-label">余额：</label>
							<div class="col-sm-3">
								<input id="acbalance" name="acbalance" class="form-control" type="text" readonly="readonly"/>
							</div>


						</div>




						<div class="form-group">


							<label class="col-sm-2 control-label">收款人：</label>
							<div class="col-sm-3">
								<!--<input id="carrier" name="carrier" class="form-control" type="text">-->

								<select data-placeholder="--请选择--" name="carrier" id="carrier"
										class="selectpicker form-control" data-live-search="true">
									<option th:each="payee : ${payeelist}" th:value="${payee.name}" th:text="${payee.name}"  ></option>
								</select>

							</div>


							<label class="col-sm-2 control-label">账号：</label>
							<div class="col-sm-3">
								<input id="riskcues" name="riskcues" class="form-control" type="text" readonly="readonly">
							</div>


						</div>

						<div class="form-group">



							<label class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-3">
								<input id="remark" name="remark" class="form-control" type="text">
							</div>

						</div>



						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-3">
								<button type="submit" class="btn btn-primary" onclick="save()">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:include="gc/include::footer"></div>
<script type="text/javascript" src="/js/appjs/gc/kehu/add.js?v=11111">
</script>

<script type="text/javascript"  >



    $().ready(function() {
        setPayDateRead();
    });


    $("#carrier").val(null).trigger("change");
    $("#carrier").on("change",function () {
        var name = $(this).val();



        $.ajax({
            url : "/gc/payee/getPayee?name="+name,
            type : "GET",
            data : {
            },
            success : function(data) {
                $("#riskcues").val(data.payee.account);
            }
        });

    });


    function save() {
        var orderNo = $("#orderNo").val();
        if (orderNo==''){
            parent.layer.msg("订单号不能为空！");
            return ;
		}


        var inforfee = $("#inforfee").val();
        var colmethod = $("#colmethod").val();
		if (colmethod==''&&inforfee=='') {
            parent.layer.msg("信息费和收取方式不能都不填！");
            return ;
		}

        $.ajax({
            cache : true,
            type : "POST",
            url : "/gc/kehu/save",
            data : $('#signupForm').serialize(),// 你的formid
            async : false,
            error : function(request) {
                parent.layer.alert("Connection error");
            },
            success : function(data) {
                if (data.code == 0) {
                    parent.layer.msg("操作成功");
                    parent.reLoad();
                    var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                    parent.layer.close(index);

                } else {
                    parent.layer.alert(data.msg)
                }

            }
        });

    }



    function getOrder(orderNo) {

        $.ajax({
            url : "/gc/kehu/getOrder",
            type : "GET",
            data : {
                'orderNo' : orderNo
            },
            success : function(r) {


                //alert(r.id)
                if (r.id !=null && r.id !='' && r.id !='null'){
                    parent.layer.msg("此订单已付款！");
                    $("#orderNo").val('');
                    return ;
                }
                if (r.orderNo !=null && r.orderNo !='' && r.orderNo !='null'){
                    parent.layer.msg("此订单不存在！");
                    $("#orderNo").val('');
                    return ;
                }



                $("#kpid").val(r.kpid);
                $("#carnum").val(r.carnum);
                $("#bizdate").val(r.bizdate);
                $("#station").val(r.station);
				$("#payer").val(r.payer);
                $("#tonnage").val(r.tonnage);//吨位
                $("#settletonnage").val(r.settletonnage);//结算吨位
                //$("#adjusttonnage").val(r.adjusttonnage);//调整吨位



            }
        });
    }


    function getYunjia() {

        var tonnage = $("#tonnage").val();//吨位
        var adjusttonnage = $("#adjusttonnage").val();//调整吨位
		if (adjusttonnage==''){
		    adjusttonnage = 0;
            //$("#adjusttonnage").val(adjusttonnage);
		}

        var settletonnage = (tonnage-adjusttonnage).toFixed(3);//结算吨位
        $("#settletonnage").val(settletonnage);

        var transcost = $("#transcost").val();//运价
        if (transcost==''){
            transcost = 0;
            //$("#transcost").val(transcost);
        }
        var inforfee = $("#inforfee").val();//信息费
        if (inforfee==''){
            inforfee = 0;
            //$("#inforfee").val(inforfee);
        }


        var transfee = (settletonnage*transcost)-inforfee; //运费
        $("#transfee").val(transfee.toFixed(2));


        var fulltrans = $("#fulltrans").val();//运满满
        var bankcard = $("#bankcard").val();//银行卡
        //var bankcardtwo = $("#bankcardtwo").val();//银行卡2
        //var fultranstwo = $("#fultranstwo").val();//运满满2


        var acbalance = transfee - fulltrans - bankcard ;
        $("#acbalance").val(acbalance.toFixed(2));


    }








    function setPayDate() {
        var payType = $("#payType").val();
        if (payType!=''){
            $("#pay2").show();
            $("#fulltrans").attr("readonly",false);
            $("#fulpaydate").val(getNowFormatDate());
        } else {
            $("#fulltrans").attr("readonly",true);
            $("#fulltrans").val('');
            $("#fulpaydate").val('');
            $("#pay2").hide();
        }
        getYunjia();
    }

    function setPayDate2() {
        var forwunit = $("#forwunit").val();

        if (forwunit!=''){
            $("#pay4").show();
            $("#bankcard").attr("readonly",false);
            $("#bankpaydate").val(getNowFormatDate());

        } else {
            $("#bankcard").attr("readonly",true);
            $("#bankcard").val('');
            $("#bankpaydate").val('');
            $("#pay4").hide();
        }
        getYunjia();
    }

    //获取当前时间，格式YYYY-MM-DD
    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    }



    function setPayDateRead(){
        var receipt = $("#receipt").val();
        if (receipt=='无'||receipt=='') {

            $("#payType").attr("readonly",true);
            $("#forwunit").attr("readonly",true);

            $("#payType").val('');
            $("#forwunit").val('');

            $("#receiptdate").val('');

            $("#pay1").hide();
            $("#pay3").hide();

        } else {
            $("#payType").attr("readonly",false);
            $("#forwunit").attr("readonly",false);
            $("#receiptdate").val(getNowFormatDate());
            $("#pay1").show();
            $("#pay3").show();
        }

        setPayDate();
        setPayDate2();
    }


</script>



</body>
</html>
