<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="gc/include :: header"></head>
<body class="gray-bg">






<div class="wrapper wrapper-content ">





	<div class="portlet light common-search-form">
		<div class="portlet-body">
			<form class="form-horizontal" action="#" id="searchUserFormId">

				<input type="hidden" id="deptId" name="deptId" th:value = "${deptId}">

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label col-md-2">日期</label>
							<div class="col-md-5 ">
								<input type="hidden" id = "startDate" name="startDate" >
								<input type="text" class="laydate-icon layer-date form-control"
									   id="endDate" name="endDate" placeholder="日期"
									   onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"
									   size="13"
									   style="background-color: #fff;" readonly="readonly" required/>
							</div>
							<div class="col-md-5 ">
								<button type="button" onclick="showTable()" class="btn btn-primary queryButton">查询</button>
							</div>
						</div>
					</div>



				</div>







				<h2>开票统计 </h2>
				<table class="table table-striped table-bordered table-hover table-condensed">
					<thead>
					<tr>

						<th style="text-align: center">序号</th>
						<th style="text-align: center"> 期初 </th>
						<th style="text-align: center"> 当日回单</th>
						<th style="text-align: center"> 运满满 </th>
						<th style="text-align: center"> 银行卡 </th>
						<th style="text-align: center"> 现金 </th>
						<th style="text-align: center"> 百通石油</th>
						<th style="text-align: center"> 百通石化</th>
						<th style="text-align: center"> 百通京博</th>
						<th style="text-align: center"> 其他</th>
                        <th style="text-align: center"> 手续费</th>
						<th style="text-align: center"> 合计 </th>
					</tr>
					</thead>

					<tbody id = "tdata">
					</tbody>
				</table>

			</form>
		</div>
	</div>


</div>
































<div th:include="gc/include::footer"></div>




<script type="text/javascript">
    $(function() {
        $("#startDate").val('2019-06-01');
        $("#endDate").val(getNowFormatDate());

        showTable();
    });



    //获取当前时间，格式YYYY-MM-DD
    function getNowFirstDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear()-1;
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + '01';
        return currentdate;
    }


    //获取当前时间，格式YYYY-MM-DD
    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    }



    function showTable() {

		var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        var deptId = $("#deptId").val();

        $.ajax({
            url : "/gc/kehu/queryKehu?startDate="+startDate+"&endDate="+endDate+"&deptId="+deptId,
            type : "GET",
            data : {
            },
            success : function(list) {
                $("#tdata").html("");
                for(var i = 0;i < list.length;i++){
                    var siItem = list[i];
                    var td = tdtemplate.replace('[tNum]',i+1);

                    td = td.replace('[coefficient]',siItem.qichu.toFixed(2));
                    td = td.replace('[steelnum]',siItem.acbalance.toFixed(2));
                    td = td.replace('[specs]',siItem.fulltrans.toFixed(2));
                    td = td.replace('[packnum]',siItem.bankcard.toFixed(2));
                    td = td.replace('[xianjin]',siItem.xianjin.toFixed(2));
                    td = td.replace('[shiyou]',siItem.shiyou.toFixed(2));
                    td = td.replace('[shihua]',siItem.shihua.toFixed(2));
                    td = td.replace('[jingbo]',siItem.jingbo.toFixed(2));
					td = td.replace('[qita]',siItem.qita.toFixed(2));
                    td = td.replace('[shoushufei]',siItem.shoushufei.toFixed(2));

                    var total = siItem.qichu + siItem.acbalance ;
                    total = total.toFixed(2)-siItem.fulltrans;
                    total = total.toFixed(2)-siItem.bankcard;
                    total = total.toFixed(2)-siItem.xianjin;
                    total = total.toFixed(2)-siItem.shiyou;
                    total = total.toFixed(2)-siItem.shihua;
                    total = total.toFixed(2)-siItem.jingbo;
					total = total.toFixed(2)-siItem.qita;
                    total = total.toFixed(2)-siItem.shoushufei;

                    td = td.replace('[total]',total.toFixed(2));

                    $("#tdata").append(td);
                }
            }
        });





    }





    var tdtemplate =
        '<tr>' +
        '<td style="text-align: center">' + '[tNum]' + '</td>' +
        '<td style="text-align: center">' + '[coefficient]' + '</td>' +
        '<td style="text-align: center">' + '[steelnum]' + '</td>' +
        '<td style="text-align: center">' + '[specs]' + '</td>' +
        '<td style="text-align: center">' + '[packnum]' + '</td>' +
        '<td style="text-align: center">' + '[xianjin]' + '</td>' +
        '<td style="text-align: center">' + '[shiyou]' + '</td>' +
        '<td style="text-align: center">' + '[shihua]' + '</td>' +
        '<td style="text-align: center">' + '[jingbo]' + '</td>' +
		'<td style="text-align: center">' + '[qita]' + '</td>' +
        '<td style="text-align: center">' + '[shoushufei]' + '</td>' +
        '<td style="text-align: center">' + '[total]' + '</td>' +
        '</tr>';


</script>


</body>
</html>
