<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="gc/include :: header"></head>
<body class="gray-bg">






<div class="wrapper wrapper-content ">





	<div class="portlet light common-search-form">
		<div class="portlet-body">
			<form class="form-horizontal" action="#" id="searchUserFormId">

				<input type="hidden" id="deptId" name="deptId" th:value = "${deptId}">
				<input type="hidden" id="startDate" name="startDate" >
				<input type="hidden" id="endDate" name="endDate" >

				<!--<div class="row">-->
					<!--<div class="col-md-4">-->
						<!--<div class="form-group">-->
							<!--<label class="control-label col-md-2">日期</label>-->
							<!--<div class="col-md-5 ">-->

								<!--<input type="text" class="laydate-icon layer-date form-control"-->
									   <!--id="startDate" name="startDate" placeholder="开始日期"-->
									   <!--onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"-->
									   <!--size="13"-->
									   <!--style="background-color: #fff;" readonly="readonly" required/>-->
							<!--</div>-->

							<!--<div class="col-md-5 ">-->

								<!--<input type="text" class="laydate-icon layer-date form-control"-->
									   <!--id="endDate" name="endDate" placeholder="结束日期"-->
									   <!--onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"-->
									   <!--size="13"-->
									   <!--style="background-color: #fff;" readonly="readonly" required/>-->
							<!--</div>-->

						<!--</div>-->
					<!--</div>-->
					<!--<div class="col-md-1 ">-->
						<!--<button type="button" onclick="showTable()" class="btn btn-primary queryButton">查询</button>-->
					<!--</div>-->


				<!--</div>-->







				<h2>结算明细 </h2>
				<table class="table table-striped table-bordered table-hover table-condensed">
					<thead>
					<tr>

						<th style="text-align: center">序号</th>
						<th style="text-align: center"> 月份</th>
						<th style="text-align: center"> 回单金额</th>
						<th style="text-align: center"> 运满满 </th>
						<th style="text-align: center"> 银行卡 </th>
						<th style="text-align: center"> 现金 </th>
						<th style="text-align: center"> 百通石油</th>
						<th style="text-align: center"> 百通石化</th>
						<th style="text-align: center"> 百通京博</th>
						<th style="text-align: center"> 其他</th>
						<th style="text-align: center"> 手续费</th>
						<th style="text-align: center"> 差额 </th>
					</tr>
					</thead>

					<tbody id = "tdata">
					</tbody>


					<thead>
					<tr>

						<th style="text-align: center"></th>
						<th style="text-align: center" > 合计:</th>
						<th style="text-align: center" id="total0"></th>
						<th style="text-align: center" id="total1"></th>
						<th style="text-align: center" id="total2"></th>
						<th style="text-align: center" id="total3"></th>
						<th style="text-align: center" id="total4"></th>
						<th style="text-align: center" id="total5"></th>
						<th style="text-align: center" id="total6"></th>
						<th style="text-align: center" id="total7"></th>
						<th style="text-align: center" id="total8"></th>
						<th style="text-align: center" id="total9"></th>

					</tr>
					</thead>
				</table>

			</form>
		</div>
	</div>


</div>
































<div th:include="gc/include::footer"></div>




<script type="text/javascript">
    $(function() {
        $("#startDate").val(getNowFirstDate());
        $("#endDate").val(getNowFormatDate());

        showTable();
    });



    //获取当前时间，格式YYYY-MM-DD
    function getNowFirstDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + '01';
        return currentdate;
    }


    //获取当前时间，格式YYYY-MM-DD
    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    }



    function showTable() {

		var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        var deptId = $("#deptId").val();

        $.ajax({
            url : "/gc/kehu/queryKehu1?startDate="+startDate+"&endDate="+endDate+"&deptId="+deptId,
            type : "GET",
            data : {
            },
            success : function(list) {
                $("#tdata").html("");

                var total0 = 0;var total1 = 0;var total2 = 0;
                var total3 = 0;var total4 = 0;var total5 = 0;
                var total6 = 0;var total7 = 0;var total8 = 0;

                for(var i = 0;i < list.length;i++){
                    var siItem = list[i];
                    var td = tdtemplate.replace('[tNum]',i+1);
                    td = td.replace('[bizMonth]',siItem.bizMonth);

                    td = td.replace('[steelnum]',siItem.acbalance.toFixed(2));
                    td = td.replace('[specs]',siItem.fulltrans.toFixed(2));
                    td = td.replace('[packnum]',siItem.bankcard.toFixed(2));

                    td = td.replace('[xianjin]',siItem.xianjin.toFixed(2));
                    td = td.replace('[shiyou]',siItem.shiyou.toFixed(2));
                    td = td.replace('[shihua]',siItem.shihua.toFixed(2));

                    td = td.replace('[jingbo]',siItem.jingbo.toFixed(2));
					td = td.replace('[qita]',siItem.qita.toFixed(2));

                    td = td.replace('[shoushufei]',siItem.shoushufei.toFixed(2));
                    var total =  siItem.acbalance - siItem.fulltrans - siItem.bankcard - siItem.xianjin - siItem.shiyou - siItem.shihua - siItem.jingbo - siItem.qita - siItem.shoushufei;
                    td = td.replace('[total]',total.toFixed(2));
                    $("#tdata").append(td);


					total0 = total0 + siItem.acbalance;
					total1 = total1 + siItem.fulltrans;
					total2 = total2 + siItem.bankcard;

					total3 = total3 + siItem.xianjin;
					total4 = total4 + siItem.shiyou;
					total5 = total5 + siItem.shihua;

					total6 = total6 + siItem.jingbo;
					total7 = total7 + siItem.qita;
					total8 = total8 + siItem.shoushufei;


                }

                var total9 = total0 - total1 - total2 - total3
					- total4 - total5 - total6 - total7 -total8 ;

                $("#total0").text(total0.toFixed(2));
                $("#total1").text(total1.toFixed(2));
                $("#total2").text(total2.toFixed(2));

                $("#total3").text(total3.toFixed(2));
                $("#total4").text(total4.toFixed(2));
                $("#total5").text(total5.toFixed(2));

                $("#total6").text(total6.toFixed(2));
                $("#total7").text(total7.toFixed(2));
                $("#total8").text(total8.toFixed(2));
				$("#total9").text(total9.toFixed(2));

            }
        });





    }





    var tdtemplate =
        '<tr>' +
        '<td style="text-align: center">' + '[tNum]' + '</td>' +
        '<td style="text-align: center">' + '[bizMonth]' + '</td>' +
        '<td style="text-align: center">' + '[steelnum]' + '</td>' +
        '<td style="text-align: center">' + '[specs]' + '</td>' +
        '<td style="text-align: center">' + '[packnum]' + '</td>' +
        '<td style="text-align: center">' + '[xianjin]' + '</td>' +
        '<td style="text-align: center">' + '[shiyou]' + '</td>' +
        '<td style="text-align: center">' + '[shihua]' + '</td>' +
        '<td style="text-align: center">' + '[jingbo]' + '</td>' +
		'<td style="text-align: center">' + '[qita]' + '</td>' +
        '<td style="text-align: center">' + '[shoushufei]' + '</td>' +
        '<td style="text-align: center">' + '[total]' + '</td>' +
        '</tr>';








</script>


</body>
</html>
