<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="sellerId" name="sellerId" th:value="${sellerInfo.sellerId}"  type="hidden">
<!--							<div class="form-group">	-->
<!--								<label class="col-sm-3 control-label">账号：</label>-->
<!--								<div class="col-sm-8">-->
<!--									<input id="username" name="username" th:value="${sellerInfo.username}" class="form-control" type="text">-->
<!--								</div>-->
<!--							</div>-->
<!--														<div class="form-group">	-->
<!--								<label class="col-sm-3 control-label">密码：</label>-->
<!--								<div class="col-sm-8">-->
<!--									<input id="password" name="password" th:value="${sellerInfo.password}" class="form-control" type="text">-->
<!--								</div>-->
<!--							</div>-->
<!--														<div class="form-group">	-->
<!--								<label class="col-sm-3 control-label">微信openid：</label>-->
<!--								<div class="col-sm-8">-->
<!--									<input id="openid" name="openid" th:value="${sellerInfo.openid}" class="form-control" type="text">-->
<!--								</div>-->
<!--							</div>-->
<!--														<div class="form-group">	-->
<!--								<label class="col-sm-3 control-label">创建时间：</label>-->
<!--								<div class="col-sm-8">-->
<!--									<input id="createTime" name="createTime" th:value="${sellerInfo.createTime}" class="form-control" type="text">-->
<!--								</div>-->
<!--							</div>-->
<!--														<div class="form-group">	-->
<!--								<label class="col-sm-3 control-label">修改时间：</label>-->
<!--								<div class="col-sm-8">-->
<!--									<input id="updateTime" name="updateTime" th:value="${sellerInfo.updateTime}" class="form-control" type="text">-->
<!--								</div>-->
<!--							</div>-->




							<div class="form-group">

								<label class="col-sm-2 control-label">卡号：</label>
								<div class="col-sm-3">
									<input id="cardNo" name="cardNo" th:value="${sellerInfo.cardNo}" class="form-control" type="text" readonly>
								</div>

								<label class="col-sm-2 control-label">卡类型：</label>
								<div class="col-sm-3">
									<input id="cardType" name="cardType" th:value="${sellerInfo.cardType}" class="form-control" type="text" readonly>
								</div>

							</div>



							<div class="form-group">

								<label class="col-sm-2 control-label">身份证：</label>
								<div class="col-sm-3">
									<input id="cardId" name="cardId" th:value="${sellerInfo.cardId}" class="form-control" type="text" readonly>
								</div>

								<label class="col-sm-2 control-label">姓名：</label>
								<div class="col-sm-3">
									<input id="name" name="name" th:value="${sellerInfo.name}" class="form-control" type="text" readonly>
								</div>

							</div>



							<div class="form-group">

								<label class="col-sm-2 control-label">余额：</label>
								<div class="col-sm-3">
									<input id="amount" name="amount" th:value="${sellerInfo.amount}" class="form-control" type="text" readonly>
								</div>

							</div>


							<div class="form-group">

								<label class="col-sm-2 control-label">充值金额：</label>
								<div class="col-sm-3">
									<input id="czje" name="czje"  class="form-control" type="text">
								</div>

								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-3">

								</div>

							</div>




							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary" onclick="update()">充值</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/biz/sellerInfo/edit.js?v=11">
	</script>
</body>
</html>
