<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.biz.dao.BrandModelPailiangDao">

	<select id="get" resultType="com.bootdo.biz.domain.BrandModelPailiangDO">
		select `id`,`pid`,`pkey`,`name` from qc_brand_model_pailiang where id = #{value}
	</select>

	<select id="getBrandModelPailiang" resultType="com.bootdo.biz.domain.BrandModelPailiangDO">
		select `id`,`pid`,`pkey`,`name` from qc_brand_model_pailiang

		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="pid != null and pid != ''"> and pid = #{pid} </if>
			<if test="pkey != null and pkey != ''"> and pkey = #{pkey} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
		</where>
	</select>


	<select id="list" resultType="com.bootdo.biz.domain.BrandModelPailiangDO">
		select `id`,`pid`,`pkey`,`name` from qc_brand_model_pailiang
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="pid != null and pid != ''"> and pid = #{pid} </if>
		  		  <if test="pkey != null and pkey != ''"> and pkey = #{pkey} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from qc_brand_model_pailiang
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="pid != null and pid != ''"> and pid = #{pid} </if>
		  		  <if test="pkey != null and pkey != ''"> and pkey = #{pkey} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.biz.domain.BrandModelPailiangDO">
		insert into qc_brand_model_pailiang
		(
			`id`, 
			`pid`, 
			`pkey`, 
			`name`
		)
		values
		(
			#{id}, 
			#{pid}, 
			#{pkey}, 
			#{name}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.biz.domain.BrandModelPailiangDO">
		update qc_brand_model_pailiang 
		<set>
			<if test="pid != null">`pid` = #{pid}, </if>
			<if test="pkey != null">`pkey` = #{pkey}, </if>
			<if test="name != null">`name` = #{name}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from qc_brand_model_pailiang where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from qc_brand_model_pailiang where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>