<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.biz.dao.ProductDao">

	<select id="get" resultType="com.bootdo.biz.domain.ProductDO">
		select `id`,`Product_Id`,`Variant_Id`,prod as `Display_Name`,`Primary_Parent_Category`,
		       `Image`,`Price`,`Unit`,`Marketing_Price`  ,brand,xinghao1
		from qc_product where id = #{value}
	</select>

	<select id="getProduct" resultType="com.bootdo.biz.domain.ProductDO">
		select `id`,`Product_Id`,`Variant_Id`,`Display_Name`,
		       `Primary_Parent_Category`,`Image`,`Price`,`Unit`,
		       `Marketing_Price` ,brand,xinghao1
		from qc_product
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="productId != null and productId != ''"> and Product_Id = #{productId} </if>
			<if test="variantId != null and variantId != ''"> and Variant_Id = #{variantId} </if>
			<if test="displayName != null and displayName != ''"> and Display_Name = #{displayName} </if>
			<if test="primaryParentCategory != null and primaryParentCategory != ''"> and Primary_Parent_Category = #{primaryParentCategory} </if>
			<if test="image != null and image != ''"> and Image = #{image} </if>
			<if test="price != null and price != ''"> and Price = #{price} </if>
			<if test="unit != null and unit != ''"> and Unit = #{unit} </if>
			<if test="marketingPrice != null and marketingPrice != ''"> and Marketing_Price = #{marketingPrice} </if>
		</where>
	</select>

	<select id="list" resultType="com.bootdo.biz.domain.ProductDO">
		select  distinct  prod as `Display_Name`,  img as `Image`
		from qc_product p
		inner join qc_brand_product qp on qp.prod_id = p.id
		where qp.pid = #{pid}
		order by p.id asc


		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from qc_product
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="productId != null and productId != ''"> and Product_Id = #{productId} </if>
		  		  <if test="variantId != null and variantId != ''"> and Variant_Id = #{variantId} </if>
		  		  <if test="displayName != null and displayName != ''"> and prod = #{displayName} </if>
		  		  <if test="primaryParentCategory != null and primaryParentCategory != ''"> and Primary_Parent_Category = #{primaryParentCategory} </if>
		  		  <if test="image != null and image != ''"> and Image = #{image} </if>
		  		  <if test="price != null and price != ''"> and Price = #{price} </if>
		  		  <if test="unit != null and unit != ''"> and Unit = #{unit} </if>
		  		  <if test="marketingPrice != null and marketingPrice != ''"> and Marketing_Price = #{marketingPrice} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.biz.domain.ProductDO" useGeneratedKeys="true" keyProperty="id">
		insert into qc_product
		(
			`Product_Id`, 
			`Variant_Id`, 
			`Display_Name`, 
			`Primary_Parent_Category`, 
			`Image`, 
			`Price`, 
			`Unit`, 
			`Marketing_Price`,
		 	brand,
		 	xinghao1
		)
		values
		(
			#{productId}, 
			#{variantId}, 
			#{displayName}, 
			#{primaryParentCategory}, 
			#{image}, 
			#{price}, 
			#{unit}, 
			#{marketingPrice},
		 	#{brand},
		 	#{xinghao1}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.biz.domain.ProductDO">
		update qc_product 
		<set>
			<if test="productId != null">`Product_Id` = #{productId}, </if>
			<if test="variantId != null">`Variant_Id` = #{variantId}, </if>
			<if test="displayName != null">`Display_Name` = #{displayName}, </if>
			<if test="primaryParentCategory != null">`Primary_Parent_Category` = #{primaryParentCategory}, </if>
			<if test="image != null">`Image` = #{image}, </if>
			<if test="price != null">`Price` = #{price}, </if>
			<if test="unit != null">`Unit` = #{unit}, </if>
			<if test="marketingPrice != null">`Marketing_Price` = #{marketingPrice}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from qc_product where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from qc_product where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>