<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.biz.dao.RouteDao">

	<select id="get" resultType="com.bootdo.biz.domain.RouteDO">
		select `id`,`from_Station`,`to_Station` from biz_route where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.biz.domain.RouteDO">
		select `id`,`from_Station`,`to_Station` from biz_route
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="fromStation != null and fromStation != ''"> and from_Station = #{fromStation} </if>
		  		  <if test="toStation != null and toStation != ''"> and to_Station = #{toStation} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from biz_route
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="fromStation != null and fromStation != ''"> and from_Station = #{fromStation} </if>
		  		  <if test="toStation != null and toStation != ''"> and to_Station = #{toStation} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.biz.domain.RouteDO" useGeneratedKeys="true" keyProperty="id">
		insert into biz_route
		(
			`from_Station`, 
			`to_Station`
		)
		values
		(
			#{fromStation}, 
			#{toStation}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.biz.domain.RouteDO">
		update biz_route 
		<set>
			<if test="fromStation != null">`from_Station` = #{fromStation}, </if>
			<if test="toStation != null">`to_Station` = #{toStation}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from biz_route where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from biz_route where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>