<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="gc/include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">

							<input type="hidden" id="pid" name="pid">

							<!--<div class="form-group">
								<label class="col-sm-1 control-label">订单号：</label>
								<div class="col-sm-4">
									<input id="orderNo" name="orderNo" class="form-control"
										   type="text" onblur="getOrder(this.value)">
								</div>
							</div>-->

							<div class="form-group">
								<label class="col-sm-1 control-label">日期：</label>
								<div class="col-sm-4">
									<input type="text" class="laydate-icon layer-date form-control"
										   id="bizdate" name="bizdate" placeholder="日期"
										   onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"
										   style="background-color: #fff;" readonly="readonly" required/>
								</div>

								<label class="col-sm-1 control-label">发货单位：</label>
								<div class="col-sm-4">
									<!--<input id="forwunit" name="forwunit" class="form-control" type="text">-->

									<select data-placeholder="--请选择--" name="forwunit" id="forwunit"
											class="selectpicker form-control" data-live-search="true">
										<option th:each="fhdw : ${fhdwList}" th:value="${fhdw.name}" th:text="${fhdw.name}"  ></option>
									</select>
								</div>
							</div>




							<div class="form-group">
								<label class="col-sm-1 control-label">车号：</label>
								<div class="col-sm-4">
									<input id="carnum" name="carnum" class="form-control" type="text" required>
								</div>


								<label class="col-sm-1 control-label">到站：</label>
								<div class="col-sm-4">
									<!--<input id="arrivstation" name="arrivstation" class="form-control" type="text">-->
									<select data-placeholder="--请选择--" name="arrivstation" id="arrivstation"
											class="selectpicker form-control" data-live-search="true">
										<option th:each="issueoffice : ${issueofficeList}" th:value="${issueoffice.name}" th:text="${issueoffice.name}"  ></option>
									</select>
								</div>

							</div>



							<div class="form-group">




								<label class="col-sm-1 control-label">付款单位：</label>
								<div class="col-sm-4">
									<!--<input id="inforfee" name="inforfee" class="form-control" type="text">-->

									<select data-placeholder="--请选择--" name="inforfee" id="inforfee"
											class="selectpicker form-control" data-live-search="true">
										<option th:each="fkdw : ${fkdwList}" th:value="${fkdw.name}" th:text="${fkdw.name}"  ></option>
									</select>

								</div>

								<label class="col-sm-1 control-label">业务员：</label>
								<div class="col-sm-4">
								<input id="custompay" name="custompay" class="form-control" type="text">
								</div>

							</div>




							<!--<div class="form-group">-->

								<!--<label class="col-sm-1 control-label">备注：</label>-->
								<!--<div class="col-sm-9">-->
									<!--<textarea id="remark" name="remark" class="form-control" ></textarea>-->
								<!--</div>-->
								<!---->
							<!--</div>-->



							<!--<label class="col-sm-1 control-label">付款单位：</label>-->
							<!--<div class="col-sm-4">-->
								<!--<input id="payer" name="payer" class="form-control" type="text">-->
							<!--</div>-->


							<!--<div class="form-group">-->

								<!--<label class="col-sm-1 control-label">开票单位</label>-->
								<!--<div class="col-sm-4">-->
									<!--<input id="issueoffice" name="issueoffice" class="form-control" type="text">-->
								<!--</div>-->






							<!--</div>-->

							<!--<div class="form-group">-->

								<!--<label class="col-sm-1 control-label">开票日期</label>-->
								<!--<div class="col-sm-4">-->
									<!--<input id="issueofficedate" name="issueofficedate" class="form-control" type="text">-->
								<!--</div>-->


								<!--<label class="col-sm-1 control-label">结算金额：</label>-->
								<!--<div class="col-sm-4">-->
									<!--<input id="aminvoice" name="aminvoice" class="form-control" type="text">-->
								<!--</div>-->



							<!--</div>-->




							<!--<div class="form-group">-->



								<!--<label class="col-sm-1 control-label">收款方式：</label>-->
								<!--<div class="col-sm-4">-->
									<!--<input id="taxdatepay" name="taxdatepay" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->


							<!--<div class="form-group">-->

								<!--<label class="col-sm-1 control-label">发票号</label>-->
								<!--<div class="col-sm-4">-->
									<!--<input id="invoice" name="invoice" class="form-control" type="text">-->
								<!--</div>-->

								<!--<label class="col-sm-1 control-label">扣零</label>-->
								<!--<div class="col-sm-4">-->
									<!--<input id="kouling" name="kouling" class="form-control" type="text">-->
								<!--</div>-->

							<!--</div>-->







							<div class="portlet light portlet-fit ">
								<div class="portlet-title">
									<div class="caption">
										<i class="fa fa-plus" onclick="addDetail()"></i>
										<span onclick="addDetail()"
											  class="caption-subject uppercase">新增钢材规格</span>
									</div>
								</div>

								<div class="portlet-body">
									<!--<div class="table-toolbar">-->
										<!--<div class="row">-->
											<!--<div class="col-md-6">-->
												<!--<div class="btn-group">-->
													<!--<button id="detail_editable_1_new" class="btn green" -->
															<!--&gt;-->
														<!---->
														<!---->
													<!--</button>-->
												<!--</div>-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->

									<table class="table table-striped table-hover table-bordered" id="detail_editable_1">
										<thead>
										<tr>
											<th>序号</th>
											<th> 钢号 </th>
											<th> 规格 </th>
											<th> 件数 </th>
                                            <th> 支数 </th>
											<th> 吨位 </th>
											<th> 基价 </th>
											<th> 系数 </th>
											<th> 运率 </th>
											<th> 运费 </th>
											<th> 备注 </th>
											<th> 编辑/删除 </th>

										</tr>
										</thead>
										<tbody id="tdata">
										<!--<tr>-->
											<!--<td> 1 </td>-->
											<!--<td> B2319 </td>-->
											<!--<td> 78*12*1 </td>-->
											<!--<td> 10 </td>-->
											<!--<td> 200 </td>-->
											<!--<td> 200 </td>-->
											<!--<td> 2 </td>-->
											<!--<td> 200 </td>-->
											<!--<td> 200 </td>-->
											<!--<td>-->
												<!--编辑-->
												<!--&lt;!&ndash;<a class="edit" href="javascript:;" &ndash;&gt;-->
												   <!--&lt;!&ndash;rel="external nofollow" rel="external nofollow" > 编辑 </a>&ndash;&gt;-->
											<!--</td>-->
											<!--<td>-->
												<!--<a class="delete" href="" rel="external nofollow"  rel="external nofollow" > 删除 </a>-->
												<!--删除-->
											<!--</td>-->
										<!--</tr>-->


										</tbody>
									</table>




								</div>
							</div>




							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交并保存</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>






	<!-- 添加(模态框)（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">


				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						新增/修改产品明细
					</h4>
				</div>
				<div class="modal-body">

					<input type="hidden" id="itemId" name="itemId"	/>
					<p>钢&nbsp;&nbsp;号&nbsp;&nbsp;:&nbsp;&nbsp;
						<input type="text" id="steelnum" name="steelnum"	placeholder="请输入钢号..." size="20"/></p>
					<p>规&nbsp;&nbsp;格&nbsp;&nbsp;:&nbsp;&nbsp;
						<input type="text" id="specs" 	name="specs" placeholder="请输入规格..."  size="20"/></p>
					<p>件&nbsp;&nbsp;数&nbsp;&nbsp;:&nbsp;&nbsp;
						<input type="text" id="packnum" name="packnum"	placeholder="请输入件数..." size="20" /></p>
                    <p>支&nbsp;&nbsp;数&nbsp;&nbsp;:&nbsp;&nbsp;
                        <input type="text" id="zhinum" name="zhinum"	placeholder="请输入支数..." size="20" /></p>
					</p>
					<p>吨&nbsp;&nbsp;位&nbsp;&nbsp;:&nbsp;&nbsp;
						<input type="number" id="tonnage" name="tonnage"	placeholder="请输入吨位..." size="20"/></p>
					<p>基&nbsp;&nbsp;价&nbsp;&nbsp;:&nbsp;&nbsp;
						<input type="number" id="baseprice" 	name="baseprice"	placeholder="请输入基价..." size="20"/></p>
					<p>系&nbsp;&nbsp;数&nbsp;&nbsp;:&nbsp;&nbsp;
						<input type="number" id="coefficient" name="coefficient"	placeholder="请输入系数..." size="20"/></p>
					<!--<p>运&nbsp;&nbsp;率&nbsp;&nbsp;:&nbsp;&nbsp;-->
						<!--<input type="number" id="tranrate" name="tranrate"  size="20" readonly/></p>-->

					<p>备&nbsp;&nbsp;注&nbsp;&nbsp;:&nbsp;&nbsp;
						<input type="text" id="remark" name="remark"	placeholder="请输入..." size="20"/></p>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						关闭
					</button>
					<button type="button" class="btn btn-primary" onclick="addeasypoi()">
						提交
					</button>
				</div>


			</div><!-- /.modal-content -->
		</div>
	</div>
	<!-- /.modal -->












<div th:include="gc/include::footer"></div>




<script type="text/javascript">


$().ready(function() {
	validateRule();
});

$.validator.setDefaults({
	submitHandler : function() {
		save();
	}
});
function save() {
	$.ajax({
		cache : true,
		type : "POST",
		url : "/gc/siji/save",
		data : $('#signupForm').serialize(),// 你的formid
		async : false,
		error : function(request) {
			parent.layer.alert("Connection error");
		},
		success : function(data) {
			if (data.code == 0) {
				parent.layer.msg("操作成功");
				parent.reLoad();
				var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
				parent.layer.close(index);

			} else {
				parent.layer.alert(data.msg)
			}

		}
	});

}
function validateRule() {
	var icon = "<i class='fa fa-times-circle'></i> ";
	$("#signupForm").validate({
		rules : {
			name : {
				required : true
			}
		},
		messages : {
			name : {
				required : icon + "请输入姓名"
			}
		}
	})



	$("#pid").val(uuid());
	$("#bizdate").val(addDay(getNowFormatDate(),-1));
}





function uuid() {
	return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
		(c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
	)
}

function addDay(datetime, days) {
	var old_time = new Date(datetime.replace(/-/g, "/")); //替换字符，js不认2013-01-31,只认2013/01/31
	var fd = new Date(old_time.valueOf() + days * 24 * 60 * 60 * 1000); //日期加上指定的天数
	var new_time = fd.getFullYear() + "-";
	var month = fd.getMonth() + 1;
	if (month >= 10) {
		new_time += month + "-";
	} else {
//在小于10的月份上补0
		new_time += "0" + month + "-";
	}
	if (fd.getDate() >= 10) {
		new_time += fd.getDate();
	} else {
//在小于10的日期上补0
		new_time += "0" + fd.getDate();
	}
	return new_time; //输出格式：2013-01-02
}

//获取当前时间，格式YYYY-MM-DD
function getNowFormatDate() {
	var date = new Date();
	var seperator1 = "-";
	var year = date.getFullYear();
	var month = date.getMonth() + 1;
	var strDate = date.getDate();
	if (month >= 1 && month <= 9) {
		month = "0" + month;
	}
	if (strDate >= 0 && strDate <= 9) {
		strDate = "0" + strDate;
	}
	var currentdate = year + seperator1 + month + seperator1 + strDate;
	return currentdate;
}




function deleteItem(id) {
	layer.confirm('确定要删除选中的记录？', {
		btn : [ '确定', '取消' ]
	}, function() {
		$.ajax({
			url : "/gc/sijiItem/remove",
			type : "post",
			data : {
				'id' : id
			},
			success : function(r) {
				if (r.code==0) {
					layer.msg(r.msg);
					showTable();
				}else{
					layer.msg(r.msg);
				}
			}
		});
	})
}











// 添加表格数据
function addeasypoi() {
	var url = "/gc/sijiItem/save";
	var pid = $("#pid").val();
	var data = {
		"pid": pid,
        "id":$("#itemId").val(),
		"steelnum":$("#steelnum").val(),
		"specs":$("#specs").val(),
		"packnum":$("#packnum").val(),
		"zhinum":$("#zhinum").val(),
		"tonnage":$("#tonnage").val(),
		"baseprice":$("#baseprice").val(),
		"coefficient":$("#coefficient").val(),
        "remark":$("#remark").val()
	};
	if($("#steelnum").val().trim() == ""
		|| $("#specs").val().trim() == ""){
		alert("信息补充完整哟!");
	}else{

		$('#myModal').modal('hide');

        $("#itemId").val('');
        // $("#steelnum").val('');
        $("#specs").val('');
        $("#packnum").val('');
        $("#zhinum").val('');
        $("#tonnage").val('');

        $("#baseprice").val('');
        $("#coefficient").val('');
        $("#remark").val('');
        $("#tranrate").val('');
        $("#trancost").val('');




		$.post(url,data,function(result){
			//alert("添加成功!!!");
			//初始化表格
			showTable();
		});


	}
}




function addDetail() {
    $('#myModal').modal('show');
}

function showTable() {

    var pid = $("#pid").val();

    $.ajax({
        url : "/gc/sijiItem/itemList",
        type : "GET",
        data : {
            'pid' : pid
        },
        success : function(list) {
            $("#tdata").html("");
            var packnum = 0;
            var zhinum = 0;
            var tonnage = 0;
            var trancost = 0;
            for(var i = 0;i < list.length;i++){
                var siItem = list[i];
                var td = tdtemplate.replace('[tNum]',i+1);
                td = td.replace('[steelnum]',siItem.steelnum);
                td = td.replace('[specs]',siItem.specs);
                td = td.replace('[packnum]',siItem.packnum);
                td = td.replace('[zhinum]',siItem.zhinum);
                td = td.replace('[tonnage]',siItem.tonnage);
                td = td.replace('[baseprice]',siItem.baseprice);
                td = td.replace('[coefficient]',siItem.coefficient);

                td = td.replace('[tranrate]',siItem.tranrate);
                td = td.replace('[trancost]',siItem.trancost);
                td = td.replace('[remark]',siItem.remark);

                td = td.replace('[siItem]',siItem);
                td = td.replace('[id]',siItem.id);
                td = td.replace('[id]',siItem.id);
                $("#tdata").append(td);

                packnum = packnum + siItem.packnum;
                zhinum = zhinum + siItem.zhinum;
                tonnage = tonnage + siItem.tonnage;
                trancost = trancost + siItem.trancost;
            }

			var tl = totaltemplate.replace('[packnum]',packnum);
            tl = tl.replace('[zhinum]',zhinum);
            tl = tl.replace('[tonnage]',tonnage.toFixed(3));
            tl = tl.replace('[trancost]',trancost.toFixed(2));
			$("#tdata").append(tl);
        }
    });





}




function modifystudent(id) {

    //var pid = $("#pid").val();



    $.ajax({
        url : "/gc/sijiItem/updateItem/"+id,
        type : "GET",
        success : function(siItem) {


            $("#itemId").val(siItem.id);

            $("#steelnum").val(siItem.steelnum);
            $("#specs").val(siItem.specs);
            $("#packnum").val(siItem.packnum);
            $("#zhinum").val(siItem.zhinum);
            $("#tonnage").val(siItem.tonnage);

            $("#baseprice").val(siItem.baseprice);
            $("#coefficient").val(siItem.coefficient);


            $("#tranrate").val(siItem.tranrate);
            $("#trancost").val(siItem.trancost);
            $("#remark").val(siItem.remark);

            $('#myModal').modal('show');


        }
    });





}




var tdtemplate =
    '<tr>' +
    '<td>' + '[tNum]' + '</td>' +
    '<td>' + '[steelnum]' + '</td>' +
    '<td>' + '[specs]' + '</td>' +
    '<td>' + '[packnum]' + '</td>' +
    '<td>' + '[zhinum]' + '</td>' +

    '<td>' + '[tonnage]' + '</td>' +
    '<td>' + '[baseprice]' + '</td>' +
    '<td>' + '[coefficient]' + '</td>' +


    '<td>' + '[tranrate]' + '</td>' +
    '<td>' + '[trancost]' + '</td>' +
    '<td>' + '[remark]' + '</td>' +
    '<td>' +
	'<button type="button" class="btn btn-primary" onclick = modifystudent(\'' + '[id]' + '\')>修改</button>&nbsp;&nbsp;' +
    '<button type="button" class="btn btn-primary" onclick = deleteItem(\'' + '[id]' + '\')>删除</button>' +
    '</td>' +

    '</tr>';




var totaltemplate =
    '<tr>' +
    '<td>' + '合计:' + '</td>' +
    '<td>' + '' + '</td>' +
    '<td>' + '' + '</td>' +
    '<td>' + '[packnum]' + '</td>' +
    '<td>' + '[zhinum]' + '</td>' +

    '<td>' + '[tonnage]' + '</td>' +
    '<td>' + '' + '</td>' +
    '<td>' + '' + '</td>' +
    '<td>' + '' + '</td>' +

    '<td>' + '[trancost]' + '</td>' +
    '<td>' + '' + '</td>' +
    '<td>' +
    // '<button type="button" class="btn btn-primary" onclick = modifystudent(\'' + '[id]' + '\')>修改</button>&nbsp;&nbsp;' +
    // '<button type="button" class="btn btn-primary" onclick = deleteItem(\'' + '[id]' + '\')>删除</button>' +
    '</td>' +
    '</tr>';

	</script>
</body>
</html>
