<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="gc/include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="ids" name="ids" th:value="${ids}"  type="hidden">




							<div class="form-group">


								<label class="col-sm-2 control-label">收款方式：</label>
								<div class="col-sm-3">
									<!--<input  id="taxdatepay"   name="taxdatepay" class="form-control" type="text" required/>-->
									<select data-placeholder="--请选择--" name="taxdatepay" id="taxdatepay"
											class="selectpicker form-control" data-live-search="true">
										<option th:each="issueoffice : ${issueofficeList}" th:value="${issueoffice.name}" th:text="${issueoffice.name}"  ></option>
									</select>
								</div>


								<label class="col-sm-2 control-label">收款日期：</label>
								<div class="col-sm-3">


									<input type="text"  id="custompay"    name="custompay"
										   placeholder="日期" class="laydate-icon layer-date form-control" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"
										   style="background-color: #fff;" readonly="readonly" required/>
								</div>

							</div>

                            <div class="form-group">

                                <label class="col-sm-2 control-label">结算金额：</label>
                                <div class="col-sm-3">
                                    <input id="jsje"   th:value="${jsje}" name="jsje"
                                           class="form-control" type="text" readonly="readonly">
                                </div>





							</div>




							<div class="form-group">
								<div class="col-sm-12 col-sm-offset-3">
									<button type="button" class="btn btn-primary" onclick="update()">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>







<div th:include="gc/include::footer"></div>



<script type="text/javascript">

    $().ready(function() {

    });

    


    function update() {



        var ids = $("#ids").val();
        var taxdatepay = $("#taxdatepay").val();
        var custompay = $("#custompay").val();
        if (custompay=='') {
            parent.layer.msg("收款日期不能为空");
            return ;
        }
        $.ajax({
            cache : true,
            type : "POST",
            url : "/gc/sijiItemInvoice/updatePiliang",
            data : {
                'ids' : ids,
                'taxdatepay' : taxdatepay,
                'custompay' : custompay
			},
            async : false,
            error : function(request) {
                parent.layer.alert("Connection error");
            },
            success : function(data) {
                if (data.code == 0) {
                    parent.layer.msg("操作成功");
                    parent.reLoad();
                    var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                    parent.layer.close(index);

                } else {
                    parent.layer.alert(data.msg)
                }

            }
        });

    }




</script>
</body>
</html>
