<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="gc/include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="ids" name="ids" th:value="${ids}"  type="hidden">





							<div class="form-group">

								<label class="col-sm-2 control-label">开票单位：</label>
								<div class="col-sm-3">

									<select data-placeholder="--请选择--" name="issueoffice" id="issueoffice"
											class="selectpicker form-control" data-live-search="true">
										<option th:each="issueoffice : ${issueofficeList}" th:value="${issueoffice.name}" th:text="${issueoffice.name}"  ></option>
									</select>

								</div>


								<label class="col-sm-2 control-label">开票日期：</label>
								<div class="col-sm-3">

									<input type="text"  id="issueofficedate"    name="issueofficedate"
										   placeholder="日期" class="laydate-icon layer-date form-control" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"
										   style="background-color: #fff;" readonly="readonly" required/>
								</div>

							</div>


							<div class="form-group">

								<label class="col-sm-2 control-label">开票金额：</label>
								<div class="col-sm-3">
								<input id="kpje"   th:value="${kpje}" name="kpje"
								class="form-control" type="text" readonly="readonly">
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-12 col-sm-offset-3">
									<button type="button" class="btn btn-primary" onclick="update()">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>







<div th:include="gc/include::footer"></div>



<script type="text/javascript">

    $().ready(function() {

    });




    function update() {
        var ids = $("#ids").val();
        var issueoffice = $("#issueoffice").val();
        var issueofficedate = $("#issueofficedate").val();
        if (issueofficedate=='') {
            parent.layer.msg("开票日期不能为空");
            return ;
        }
        $.ajax({
            cache : true,
            type : "POST",
            url : "/gc/sijiItemAminvoice/piliangSave",
            data : {
                'ids' : ids,
                'issueoffice' : issueoffice,
                'issueofficedate' : issueofficedate
            },
            async : false,
            error : function(request) {
                parent.layer.alert("Connection error");
            },
            success : function(data) {
                if (data.code == 0) {
                    parent.layer.msg("操作成功");
                    parent.reLoad();
                    var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                    parent.layer.close(index);

                } else {
                    parent.layer.alert(data.msg)
                }

            }
        });

    }












    //获取当前时间，格式YYYY-MM-DD
    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    }




</script>
</body>
</html>
