<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="gc/include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">




			<h2>钢材明细 </h2>
			<table class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>序号</th>
						<th> 钢号 </th>
						<th> 规格 </th>
						<th> 件数 </th>
						<th> 支数 </th>
						<th> 吨位 </th>
						<th> 基价 </th>
						<th> 系数 </th>
						<th> 运率 </th>
						<th> 运费 </th>
						<th> 备注 </th>
					</tr>
				</thead>

				<tbody id = "tdata">
				</tbody>
			</table>




	</div>
	<div th:include="include::footer"></div>




<script type="text/javascript">
    $(function() {
        showTable();
    });

	function showTable() {

        var pid = '[[${pid}]]';

		//var pid = $("#pid").val();

		$.ajax({
			url : "/gc/sijiItem/itemList",
			type : "GET",
			data : {
				'pid' : pid
			},
			success : function(list) {
				$("#tdata").html("");
                var packnum = 0;
                var zhinum = 0;
                var tonnage = 0;
                var trancost = 0;
				for(var i = 0;i < list.length;i++){
					var siItem = list[i];
					var td = tdtemplate.replace('[tNum]',i+1);
					td = td.replace('[steelnum]',siItem.steelnum);
					td = td.replace('[specs]',siItem.specs);
					td = td.replace('[packnum]',siItem.packnum);
                    td = td.replace('[zhinum]',siItem.zhinum);
					td = td.replace('[tonnage]',siItem.tonnage);
					td = td.replace('[baseprice]',siItem.baseprice);
					td = td.replace('[coefficient]',siItem.coefficient);
					td = td.replace('[tranrate]',siItem.tranrate);
					td = td.replace('[trancost]',siItem.trancost);
                    td = td.replace('[remark]',siItem.remark);

					td = td.replace('[siItem]',siItem);
					td = td.replace('[id]',siItem.id);
					$("#tdata").append(td);

                    packnum = packnum + siItem.packnum;
                    zhinum = zhinum + siItem.zhinum;
                    tonnage = tonnage + siItem.tonnage;
                    trancost = trancost + siItem.trancost;
				}

                var tl = totaltemplate.replace('[packnum]',packnum);
                tl = tl.replace('[zhinum]',zhinum);
                tl = tl.replace('[tonnage]',tonnage.toFixed(3));
                tl = tl.replace('[trancost]',trancost.toFixed(2));
                $("#tdata").append(tl);
			}
		});





	}





	var tdtemplate =
		'<tr>' +
		'<td>' + '[tNum]' + '</td>' +
		'<td>' + '[steelnum]' + '</td>' +
		'<td>' + '[specs]' + '</td>' +
		'<td>' + '[packnum]' + '</td>' +
        '<td>' + '[zhinum]' + '</td>' +
		'<td>' + '[tonnage]' + '</td>' +
		'<td>' + '[baseprice]' + '</td>' +
		'<td>' + '[coefficient]' + '</td>' +

		'<td>' + '[tranrate]' + '</td>' +
		'<td>' + '[trancost]' + '</td>' +
        '<td>' + '[remark]' + '</td>' +

		'</tr>';

    var totaltemplate =
        '<tr>' +
        '<td>' + '合计:' + '</td>' +
        '<td>' + '' + '</td>' +
        '<td>' + '' + '</td>' +
        '<td>' + '[packnum]' + '</td>' +
        '<td>' + '[zhinum]' + '</td>' +

        '<td>' + '[tonnage]' + '</td>' +
        '<td>' + '' + '</td>' +
        '<td>' + '' + '</td>' +
        '<td>' + '' + '</td>' +
        '<td>' + '[trancost]' + '</td>' +
        '<td>' + '' + '</td>' +

        '</tr>';
</script>


</body>
</html>
