<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="Expires" content="-1">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Pragma" content="no-cache">

		<title>北京仕家进出口贸易有限公司</title>
		<link rel="stylesheet" type="text/css" href="/h5/css/myCss.css">
		<link rel="stylesheet" type="text/css" href="/h5/css/selectCarH5.css">
		<link rel="stylesheet" type="text/css" href="/h5/css/mobileCss.css">
		<link rel="stylesheet" type="text/css" href="/h5/css/mobileCss1.css">
		<link rel="stylesheet" type="text/css" href="/h5/css/mobileCss2.css">
		<link rel="stylesheet" type="text/css" href="/h5/css/mobileCss3.css">
		<link rel="stylesheet" type="text/css" href="/h5/css/mobileCss4H5.css">
		<link rel="stylesheet" href="/h5/css/menu-image.css" type="text/css" media="all">
		<link rel="stylesheet" href="/h5/css/masterslider.main.css" type="text/css" media="all">
		<link rel="stylesheet" href="/h5/css/custom.css" type="text/css" media="all">
		<script src="/h5/js/jquery.js"></script>

		<script type="text/javascript">
			if (/Android (\d+\.\d+)/.test(navigator.userAgent)) {
				if (parseFloat(RegExp.$1) > 2.3) {
					var phoneScale = parseInt(window.screen.width) / 640;
					if (phoneScale == 0.84375) {
						document.write('<meta name="viewport" content="width=640, minimum-scale=' + phoneScale + ', maximum-scale=' +
							phoneScale + ', target-densitydpi=400" />');
					} else {
						document.write('<meta name="viewport" content="width=640, minimum-scale=' + phoneScale + ', maximum-scale=' +
							phoneScale + ', target-densitydpi=device-dpi" />');
					}

				} else {
					document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi" />');
				}
			} else {
				document.write('<meta name="viewport" content="width=640,user-scalable=no, target-densitydpi=device-dpi" />');
			}
		</script>

	</head>
	<body class="">
		<header id="top">

			<div id="bj">
				<div id="logo">
					<img src="/h5/images/logo.png">
				</div>

				<div id="right">
					<div id="company">
						<p>北京仕家进出口贸易有限公司</p>
					</div>


					<div id="info">

						<form method="get" id="searchform" action="http://phillipsshijia.com/">
							<div>
								<input type="text" value="" placeholder="请输入搜索内容" name="s" id="s">
								<button type="submit" id="searchsubmit"><img id="searchsubmit" src="h5/images/lv_2.jpg"></button>

							</div>
						</form>
						<p class="p1">客服电话:<span class="color">400-7788-581</span> </p>
						<p class="p2">PHILLIPS 66 大中华区指定代理商</p>
					</div>

				</div>
				<div id="clear"></div>
			</div>

			<!--<div id="nav">
				<div class="nav-top">
					<div class="menu-%e6%9c%80%e4%b8%8a%e6%96%b9%e5%af%bc%e8%88%aa%e6%a0%8f-container">
						<ul id="menu-%e6%9c%80%e4%b8%8a%e6%96%b9%e5%af%bc%e8%88%aa%e6%a0%8f" class="menu">
							<li id="menu-item-388" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-368 current_page_item menu-item-388"><a
								 href="http://phillipsshijia.com/" class="menu-image-title-after"><span class="menu-image-title">首页</span></a></li>
							<li id="menu-item-387" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-387"><a href="http://phillipsshijia.com/about-3"
								 class="menu-image-title-after"><span class="menu-image-title">关于我们</span></a></li>
							<li id="menu-item-386" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-386"><a
								 href="http://phillipsshijia.com/products" class="menu-image-title-after"><span class="menu-image-title">旗下产品</span></a>
								<ul class="sub-menu" style="display: none;">
									<li id="menu-item-802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-802"><a href="http://phillipsshijia.com/phillips-66%e7%b3%bb%e5%88%97"
										 class="menu-image-title-after"><span class="menu-image-title">Phillips 66系列</span></a></li>
									<li id="menu-item-801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-801"><a href="http://phillipsshijia.com/kendall%e7%b3%bb%e5%88%97"
										 class="menu-image-title-after"><span class="menu-image-title">Kendall系列</span></a></li>
								</ul>
							</li>
							<li id="menu-item-629" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-629"><a href="https://mall.jd.com/index-753180.html"
								 class="menu-image-title-after"><span class="menu-image-title">京东店铺</span></a></li>
							<li id="menu-item-384" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-384"><a href="http://phillipsshijia.com/new"
								 class="menu-image-title-after"><span class="menu-image-title">新闻中心</span></a></li>
							<li id="menu-item-383" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-383"><a href="http://phillipsshijia.com/tendering"
								 class="menu-image-title-after"><span class="menu-image-title">招商加盟</span></a></li>
							<li id="menu-item-382" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-382"><a href="http://phillipsshijia.com/contact-3"
								 class="menu-image-title-after"><span class="menu-image-title">联系我们</span></a></li>
						</ul>
					</div>
				</div>

				<div class="nav-bot">
					<div class="menu-%e7%a7%bb%e5%8a%a8%e7%ab%af%e6%9c%80%e4%b8%8a%e6%96%b9%e5%af%bc%e8%88%aa%e6%a0%8f-container">
						<ul id="menu-%e7%a7%bb%e5%8a%a8%e7%ab%af%e6%9c%80%e4%b8%8a%e6%96%b9%e5%af%bc%e8%88%aa%e6%a0%8f" class="menu">
							<li id="menu-item-619" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-368 current_page_item menu-item-619"><a
								 href="http://phillipsshijia.com/" class="menu-image-title-after"><span class="menu-image-title">首页</span></a></li>
							<li id="menu-item-627" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-627"><a href="https://mall.jd.com/index-753180.html"
								 class="menu-image-title-after"><span class="menu-image-title">京东店铺</span></a></li>
							<li id="menu-item-617" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-617"><a href="http://phillipsshijia.com/new"
								 class="menu-image-title-after"><span class="menu-image-title">新闻中心</span></a></li>
							<li id="menu-item-616" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-616"><a href="http://phillipsshijia.com/tendering"
								 class="menu-image-title-after"><span class="menu-image-title">招商加盟</span></a></li>
						</ul>
					</div>
				</div>
			</div>-->




			<div class="theme-default">
			</div>

			<!--<div id="caidan">
				<div class="menu-%e7%a7%bb%e5%8a%a8%e7%ab%af%e6%9c%80%e4%b8%8b%e6%96%b9%e5%af%bc%e8%88%aa%e6%a0%8f-container">
					<ul id="menu-%e7%a7%bb%e5%8a%a8%e7%ab%af%e6%9c%80%e4%b8%8b%e6%96%b9%e5%af%bc%e8%88%aa%e6%a0%8f" class="menu">
						<li id="menu-item-607" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-368 current_page_item menu-item-607"><a
							 href="http://phillipsshijia.com/" class="menu-image-title-after menu-image-not-hovered"><img 
								 src="images/H5/index-1-36x36.png" class="menu-image menu-image-title-after" alt=""><span class="menu-image-title">返回首页</span></a></li>
						<li id="menu-item-605" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-605"><a href="http://phillipsshijia.com/products"
							 class="menu-image-title-after menu-image-not-hovered"><img  src="images/H5/product-1-36x36.png"
								 class="menu-image menu-image-title-after" alt=""><span class="menu-image-title">旗下产品</span></a></li>
						<li id="menu-item-606" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-606"><a href="http://phillipsshijia.com/about-3"
							 class="menu-image-title-after menu-image-not-hovered"><img  src="images/H5/about-1-36x36.png"
								 class="menu-image menu-image-title-after" alt=""><span class="menu-image-title">关于我们</span></a></li>
						<li id="menu-item-604" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-604"><a href="http://phillipsshijia.com/contact-3"
							 class="menu-image-title-after menu-image-not-hovered"><img  src="images/H5/contact-1-36x36.png"
								 class="menu-image menu-image-title-after" alt=""><span class="menu-image-title">联系我们</span></a></li>
					</ul>
				</div>
			</div>-->

			<div id="goTop" style="display: none;">
				<img src="/h5/images/goTop.png" width="100%" height="600px">
			</div>
		</header>
		<div class=" main">
			<div id="list">

			</div>
		</div>
		<!--<div data-v-2c3ef0a4="" class="subBottom">
			<div data-v-2c3ef0a4="" class="total">
				<p data-v-2c3ef0a4="" class="price">合计：<em data-v-2c3ef0a4="" id="totalprice">¥335</em></p>
				<p data-v-2c3ef0a4="">不包含安装费</p>
			</div>
			
			<div data-v-2c3ef0a4="" class="subBtn">去结算</div>
		</div>-->
		<!--<div class="aside">

					<div id="contact">
						<div class="info">
							<div class="title"> </div>
							<div class="contacts">
								<div class="info1">
									<p class="second">北京仕家进出口贸易有限公司</p>
								</div>
								<div class="info2">
								</div>
								<div class="info2">
									<p class="second">电话：400-7788-581</p>
								</div>
								<div class="info2">
								</div>
								<div class="info2">
								</div>
								<div class="info2">
									<p class="second">地址：北京市朝阳区金盏乡东苇路北北京金港汽车公园A区1-3</p>
								</div>

							</div>

							<div id="erweima">
								<p> </p><img src="">
							</div>
						</div>


					</div>



					<div class="clear">

					</div>
				</div>-->

			
		<script src="/h5/js/select.js?v=4"></script>
	</body>

</html>
