#footer{
	margin-bottom: 150px;
}
#caidan{
	height: 140px;
	font-size: 28px;
}
#caidan ul{
	margin-top: 25px;
}
#caidan ul li{
	height: 140px;
}
#caidan ul li a{
	height: 140px;
}
#caidan img{
	margin-bottom: 15px;
}
#top #bj{
	width: 85%!important;
	margin: 0px auto!important;
	padding: 20px 0;
}
.aside #contact .contacts{
	width: 540px;
	
}
.aside #contact .contacts p{
	font-size: 38px;
	width: auto;
}
.aside #contact .contacts .info2 p{
	font-size: 24px !important;
	line-height: 36px !important;
}
.aside #contact #erweima{
	width: 300px;
	height: 300px;
}
.aside #contact #erweima img{
	width: 300px;
	height: 300px;
}
#footer{
	width: auto;
	font-size: 28px;
	padding: 20px 20px;
}
#top{
	height: 250px;
}
#top #info p{
	font-size: 9px;
} 
#top #info .p1{
	margin-left:10px; 
}
#top #info .p2{
	margin-left: 15px;
}
#top #info form input{
	/*display: none;*/
}
#top #info .p1{
	margin-right: -13px;
	position: relative;
}
#nav .nav-top{
	height: auto;
}
#top #company {
	margin: 38px 20px 10px 30px;
}
.nav-bot ul li a{
	font-size: 28px;
}
#top #company p{
	font-size: 34px;
}
#top #logo{
	width: 140px;
}
#top #logo img{
	width: 100%!important;
	height: auto;
}
/*#top #info .p2{
	margin-left: 40px;
}*/
#plan #content{
	width: 100%;
}
#plan #content .plan{
	width: 25%;
}

#product #img1_1{
	height: 400px;
}
#product #img1_2{
	height: 400px;
}
#product #img1_3{
	height: 400px;
}

#technology #img2_1{
	height: 450px;
}
#technology #img2_2{
	height: 450px;
}
#technology #img2_3{
	height: 450px;
}


#ome #img3_1{
	height: 450px;
}
#ome #img3_2{
	height: 450px;
}
#ome #img3_3{
	height: 450px;
}

#car #img4_1{
	height: 450px;
}
#car #img4_2{
	height: 450px;
}
#car #img4_3{
	height: 450px;
}
.main .products{
	width: 610px;
}
.products .product li{
	width: 180px;
}
.products .product li #comm img{
	height: 180px;
	width: 150px;
}
.products .cate li{
	width: 80px;
	font-size: 13px;
}
.wiki #entry img{
	width: 130px;
	height: 130px;
}
.wiki #entry a{
	margin-top: 20px
}
.wiki #entry ul li{
	height: 160px;
}
.wiki #entry p{
	margin-top: 20px;
}
#top #info form{
	float: right;
	height: 23px;
	margin-left:20px;
	margin-top: 10px;
	margin-right: -13px;
}
#top #info form div{
	height: 23px;
}
#top #info form input{
	height: 17px;
	float: left;
	outline:none;
	width: 130px;
}
#top #info form button{
	width: 23px;
	height: 23px;
	float: left;
	border:none;
}
#top #info form button img{
	width: 23px;
	height: 23px;
}

#technology  .cover p{
	font-size: 15px;
}
#technology .cover p:first-child{
	font-size: 18px!important;
	margin-bottom: 33px;
	margin-top: 33px;
}
#product  .cover p{
	font-size: 15px;
}
#product .cover p:first-child{
	font-size: 18px!important;
	margin-bottom: 33px;
	margin-top: 33px;
}
#ome .cover p{
	font-size: 15px;
}
#ome .cover p:first-child{
	font-size: 18px!important;
	margin-bottom: 33px;
	margin-top: 33px;
}
#car  .cover p{
	font-size: 15px;
}
#car .cover p:first-child{
	font-size: 18px!important;
	margin-bottom: 33px;
	margin-top: 33px;
}
#technology .cover .first{
	margin-top: 70px!important;
}
#product .cover .first{
	margin-top: 70px!important;
}
#ome .cover .first{
	margin-top: 70px!important;
}
#car .cover .first{
	margin-top: 70px!important;
}